
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./login-bg.avif');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px);
}

h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    color: white;
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: #24a9a9f1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #009688;
}


@media (max-width: 768px) {
    .login-box {
        padding: 30px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .login-box {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
